.app {
  height: 100vh;
  background: linear-gradient(to bottom right, #e0f2fe, #f0e9ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}